.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f5fa;
  }
  .news_h3 {
    font-family: 'Jost';
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    padding-top: 44px;
    padding-bottom: 16px;
    color: #37517e;
  }
  #news_label {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #444444;
  }
  #newsletters {
    width: 516px;
    height: 30.5px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  }
  #news_submit {
    background: #47b2e4;
    border-radius: 50px;
    border: none;
    padding-top: 9.25px;
    padding-right: 19.02px;
    padding-bottom: 9.25px;
    padding-left: 19px;
    color: #fff;
    font-size: 16px;
  }
  .news_button {
    margin-top: 31.5px;
    margin-bottom: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
  }
  #news_submit:hover {
    opacity: 80%;
  }
  .futher_information {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 60px;
    margin-left: 85px;
    margin-right: 80px;
    margin-bottom: 30px;
  }
  .grid_item h3 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #37517e;
    padding-bottom: 19px;
  }
  .grid_item ul {
    list-style-type: none;
  }
  .grid_item li {
    padding-bottom: 24px;
  }
  .grid_item a {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #777777;
  }
  .grid_item a:hover {
    text-decoration: underline;
  }
  .grid_content {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #777777;
  }
  .footer_copyright {
    background-color: #37517e;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    padding-left: 81px;
    padding-right: 81px;
    padding-top: 31px;
    padding-bottom: 31px;
  }
  .footer_link {
    color: #47b2e4;
    text-decoration: none;
  }
  .footer_link:hover {
    color: #78d3fd;
  }
  .icon {
    margin-top: 17px;
  }
  .icon i {
    color: #47b2e4;
    margin-right: 7px;
    font-size: 30px;
  }
  .icon i:hover {
    color: #37517e;
  }